:root {
  --primary-bg-color: #1f2937;
  --primary-color: #ffffff;

  --hero-font:{
    font-size: 48px;
  }
}

body{
    font-family: "Roboto";
    font-size: 24px;
    align-items: center;
    color: #eee7e7;
    margin: 0;
}

header{
     background-color: var(--primary-bg-color);
     display: flex;
     justify-content: space-between;
}

header a {
    color: white;
}

img {
    width: 10vw;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30vw;
}
