:root {
  --dark-blue: #1f2937;
  --white: #f9faf8;
  --gray: #e5e7eb;
  --action-blue: #3882f6;


  /* hamburger-menu */
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
}

*, *:before, *:after {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Robot';
    src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
}

body{
    align-items: center;
    background-color: var(--dark-blue);
    font: 18px 'Robot', sans-serif;
    margin: 0;
}

header, footer{
    background-color: var(--dark-blue);
    display: flex;
    color: var(--white);
    justify-content: space-between;
}

a {
    color: var(--white);
}

img {
    min-width: 70px;
    width: 10vw;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30vw;
}

/* hamburger-menu */

.hamburger-menu{
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer; 
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    background-color: var(--white);
    border-radius: 999px;
    content: "";
    height: var(--bar-height);
    transition: opacity var(--animation-timing) 
               width var(--animation-timing);
    width: var(--bar-width);
}

.hamburger-menu input {
    appearance: none;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}


@media screen and (max-width: 820px) {
    header, footer {
        flex-direction: column;
        align-items: center;
    }
}

