:root {
  --dark-blue: #1f2937;
  --white: #f9faf8;
  --gray: #e5e7eb;
  --action-blue: #3882f6;


  /* hamburger-menu */
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
}

*, *:before, *:after {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Robot';
    src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
}

body{
    align-items: center;
    background-color: var(--dark-blue);
    font: 18px 'Robot', sans-serif;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

header, footer{
    background-color: var(--dark-blue);
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    position: fixed;

    width: 100%;
}

header{
    top: 0;
}

footer{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--white);
    text-decoration: none;
}

figure{
    margin: 0;
}

img {
    min-width: 70px;
    width: 10vw;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    gap: 1rem;
    margin: 2rem;
}

/* hamburger-menu */

.hamburger-menu{
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer; 
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    background-color: var(--white);
    border-radius: 999px;
    content: "";
    height: var(--bar-height);
    transition: opacity var(--animation-timing) 
               width var(--animation-timing);
    width: var(--bar-width);
}

.hamburger-menu input {
    appearance: none;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

/* Product Cards Styling */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  background-color: whitesmoke;   
}

.product-card {
  flex: 1 1 280px;
  display: flex;
  flex-direction: column;

  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background: slategray;
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}



@media screen and (min-width: 768px) {
    header, footer {
        align-items: center;
    }

    services ul {
        flex-direction: column;
    }

}

@media screen and (min-width: 1200px) {
  

   

  
}

