@import url('base.css');

*, *:before, *:after {
    box-sizing: border-box;
}

object{
    /* height: fit-content; fix this */
    height: 100%;
    width: 100%;
}

section{
    height: auto;
    padding: 2rem;
    width: 100%;
}

section ul{
    gap: 2rem;

}

section:nth-child(odd) {
    background: var(--gray);
}

section:nth-child(even) {
    background: var(--white);
}

section.hero {
    background: var(--dark-blue);
    color: var(--white);
}

section.hero{
    align-items: center;
    display: flex;
    justify-content: center;
}

.hero div{
    text-align: left;
}


/* contact-section */


.container-contact{
    align-items: center;
    background: var(--action-blue);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}

.container-contact>div{
    text-align: left;
    /* width: 50%; */
}

.contact>div>a.button{
    border: 0.1rem solid var(--white);
    border-radius: 0.5rem;
    margin: 4rem;
}

.button{
    background-color: var(--action-blue);
    border: none;
    border-radius: 5px;
    color: var(--white);
    padding: 0.5rem 1rem;
}

